[Unit]
Description=Readlead monitoring Service (via Docker Compose)
After=network.target docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/hevika/readlead-monitoring
ExecStart=/usr/bin/docker compose up --build
ExecStop=/usr/bin/docker compose down
Restart=always
TimeoutStartSec=0
StandardOutput=journal
StandardError=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
